gensim>=3.8.3
kaleido>=0.0.3
lxml>=4.5.2
Mastodon.py>=1.5.1
mecab-python3>=1.0.1
opencv-python>=4.4.0.42
pandas>=1.1.0
Pillow>=7.2.0
plotly>=4.9.0
socketIO-client-nexus>=0.7.6
tensorflow>=2.3.0
wikipedia>=1.4.0
xmltodict>=0.12.0